/IHM-Serveur/KukaAgylus/KukaAgylus/bin
/IHM-Serveur/KukaAgylus/KukaAgylus/obj
/IHM-Serveur/KukaAgylus/DaemonMouse/bin
/IHM-Serveur/KukaAgylus/DaemonMouse/obj
/Phase2/Mouse6d/.vs/config
/Phase2/Mouse6d/Mouse6d/bin/Debug/*.exe
/Phase2/Mouse6d/Mouse6d/obj/Debug/*.cache
/Phase2/Mouse6d/.vs/Mouse6d/v14/*.suo
