body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.console {
    overflow-y: auto;
    max-height: 200px;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    background-color: #1c1e22;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.panel-infos {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #1c1e22;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: normal!important;
}

.val-info {
    padding-left:0;
}

.status-ok {
    color: rgb(70, 224, 5);
    font-weight: bold;
}

.status-ko {
    color: rgb(224, 70, 5);
    font-weight: bold;
}

label{
    font-weight: normal;
}

.control-panel-left {
    border-right: 1px solid rgba(0,0,0,0.6);
}

.margin-top-20 {
    margin-top:20px;
}