<div class="col-lg-12">
    <h2>Mouse Calibration</h2>
    <p>Descriptions des commandes</p>
    <p><input type="button" class="btn btn-default" title="Connect" value="Connect &raquo;" onclick="location.href='@Url.Action("BtnConnect_Click", "Home")'" /></p>
</div>
<div class="col-lg-12">
    <h2>Robot Initalisation</h2>
    <p>Descriptions des commandes</p>
    <p><input type="button" class="btn btn-default" title="Connect" value="Connect &raquo;" onclick="location.href='@Url.Action("BtnConnect_Click", "Home")'" /></p>
</div>
<div class="col-lg-12">
    <h2>Robot Configuration</h2>
    <p>Descriptions des commandes</p>
    <p><input type="button" class="btn btn-default" title="Connect" value="Connect &raquo;" onclick="location.href='@Url.Action("BtnConnect_Click", "Home")'" /></p>
</div>